<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Birthday Surprise 🎂</title><style>* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


/* PASSWORD PAGE */

.login {
    background: rgba(255, 255, 255, 0.95);
    padding: 40px;
    width: 350px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

.login h1 {
    color: #ff4081;
    margin-bottom: 15px;
}

.login p {
    color: #555;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 13px;
    border: 2px solid #ff7aa8;
    border-radius: 25px;
    outline: none;
    text-align: center;
    font-size: 16px;
    margin-bottom: 15px;
}

button {
    border: none;
    background: #ff4081;
    color: white;
    padding: 13px 25px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #e91e63;
}

#error {
    color: red;
    margin-top: 15px;
    display: none;
}